body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box; }

.jam-request-form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: gray; }
  .jam-request-form .form-item {
    width: 100%;
    margin-top: 20px;
    border: 1px solid lightgray;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: red; }
    .jam-request-form .form-item .form-item-title {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
    .jam-request-form .form-item .form-item-info {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      background-color: blue; }
      .jam-request-form .form-item .form-item-info p {
        margin: 0px; }
