.header{
    height: 70px;
    width: 100%;
    position: fixed;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: RGB(6 122 227);
    z-index: 10;

    .header-left{
        height: 100%;
        width: 20%;
        margin-left:2%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
 
        img{
            height: 60px;
            width: auto;
        }
        
        .title{
            display: flex;
            justify-content: center;
            align-content: center;
            
            p{
                margin: 0px 0px 0px 15px;
                color: white;
                font-size: 35px;
                font-family: arial;
                font-weight: 550;
            }
        }
    }

    .header-mid{
        height: 100%;
        width: 50%;
        margin-left: 3%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .nav-block{
            height: 100%;
            margin-left: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            &:first-child{
                margin-left: 0px;
            }

            &:hover{
                color: white;
                border-bottom: 2px solid white;
                a {
                    color: white;
                }
            }

            &:active {
                color: white;
                border-bottom: 10px solid white;
                a {
                    color: white;
                }
            }

            a{
                text-decoration: none;
                color:RGB(173 206 235);
                font-size: 20px;
            }
        }
    }

    .header-right{
        height: 100%;
        width: 20%;
        margin-right:5%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .nav-block{
            height: 100%;
            margin-left: 10%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover{
                box-sizing: content-box;
                color: white;
                border-bottom: 2px solid white;
                a {
                    color: white;
                }
            }

            &:active {
                color: white;
                border-bottom: 10px solid white;
                a {
                    color: white;
                }
            }

            a{
                text-decoration: none;
                color:RGB(173 206 235);
                font-size: 20px;
            }
        }
    }


}