.header{
    background-color: rgba(0, 0, 0, 0.05);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
  

    .header-left{
        width: 20%;
        margin-left:2%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
 
        img{
            height: 60px;
            width: auto;
        }
        
        .title{
            display: flex;
            justify-content: center;
            align-content: center;
            
            p{
                margin: 0px 0px 0px 15px;
                color: white;
                font-size: 35px;
                font-family: arial;
                font-weight: 550;
            }
        }
    }

    .header-mid{
        width: 50%;
        margin-left: 3%;
        display: flex;
        justify-content: center;
        align-items: center;

        .nav-block{
            margin-left: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                text-decoration: none;
                color: white;
                transition: color 250ms linear;
            }

            &:first-child{
                margin-left: 0px;
            }

            &:hover{

                a {
                    color: rgb(50, 180, 150);
                }
            }

        }

        .nav-block-jam{
            margin-left: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            h3{
                text-decoration: none;
                color:rgb(50, 180, 150);
                transition: color 250ms linear;
            }

            &:first-child{
                margin-left: 0px;
            }

            &:hover{

                h3 {
                    font-weight: 700;
                }
            }

        }


        
    }

    .header-right{
        height: 100%;
        width: 20%;
        margin-right:5%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .nav-block{
            height: 50%;
            margin-left: 10%;
            display: flex;
            justify-content: center;
            align-items: center;

            a{
                text-decoration: none;
                color: white;
                transition: color 250ms linear;
            }

            &:hover{

                a {
                    color: rgb(50, 180, 150);
                }
            }

            &:active {
                color: white;
                border-bottom: 10px solid white;
                a {
                    color: white;
                }
            }

        }
    }


}