.header{
    height: 60px;
    width: 100%;
    position: fixed;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: RGB(74 138 244);

    .header-left{
        height: 100%;
        width: 30%;
        margin-left:2%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: red;
        
        .title{
            display: flex;
            justify-content: center;
            align-content: center;
            
            p{
                margin: 0px 0px 0px 15px;
                color: white;
                font-size: 35px;
                font-family: arial;
                font-weight: 550;
            }
        }
    }

    .header-right{
        height: 100%;
        width: 70%;
        margin-left: 3%;
        display: flex;
        justify-content: flex-start;
        align-items: center;


        .nav-block{
            height: 100%;
            margin-left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            .nav-block:hover{
                background-color: RGB(74 138 244);
                color: white;
            }
            a{
                text-decoration: none;
                color: white;
                font-size: 20px;
            }
        }
    }
}