.footer {
  margin-top: 60px;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #00dab9;
  color: white;
  background: linear-gradient(to bottom right, #00e0ff, #0cd5b4); }
