body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}


.jam-request-form{
  margin: 2% 3% 0% 3%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;



  form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2% 3% 2% 3%;


    .form-item{
      width: 90%;
      margin-top: 20px;
      padding: 1%;
      background:rgba(0,0,0,0.13);
      border: 1px solid lightgray;
      border-radius: 2%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;

      .jam-info{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
        .jam-img{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          width: 15%;
          height: 100%;
        }
    
        .invite-text{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          width: 85%;
    
          h5{
            font-size: 20px;
            margin: 0px;
            color: grey;


            span{
              font-size: 24px;
              font-weight: 700;
              font-style: italic; 
              color: RGB(74 138 244);
            }
          }

          p{
            color: gray;
            margin: 0px;
          }
        }
    
      }
      .form-item-title{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color:  RGB(74 138 244);

        h2{
          width: 100%;
          margin: 0px;
 
        }

      }

      .form-item-info{
        padding: 1%;
        margin: 0.5% 1% 0.5% 1%;
        //width: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
      
        p{
          margin: 0px;
        }

        input {
          display:block;
          width: 100px;
          height: 0px;
          margin: auto 10px;
          padding: 10px;
          

          &:focus{
            outline:none;
          }
    
          &:active{
            outline:none;
          }
        }
      }

    }

    .submit{
      margin-top: 15px;

      button{
        padding: 12px;
        font-size: 16px;
        font-weight: 700;
        color: white;
        background:#27ae60;
        width: 200px;

        a{
          text-decoration: none;
          color: white;
        }
      }

    }


  }
}

